
.kiskep {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  padding: 5px;
  border-radius: 0.5rem;
}

.kiskep img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  object-fit: cover;
}

@media (max-width: 980px) {
  .kiskep {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 580px) {
  .kiskep {
    flex-basis: 100%;
    max-width: 100%;
  }
}