*{
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 5px;
  flex: 1 1 calc(33.333% - 20px); 
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

img {
  border-radius: 0.5rem;
}


@media (max-width: 780px) {
  *{
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  *{
    flex: 1 1 100%;
    max-width: 100%;
  }
}