@import 'bootstrap/dist/css/bootstrap.min.css';

*{
  box-sizing: border-box;
}

.appMain {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.appMain img {
  width: 100%;
  border-radius: 0.25rem;
  display: block;
}

.fokep,
.galeria {
  padding: 10px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}