@import 'bootstrap/dist/css/bootstrap.min.css';


.appMain img {
  width: 100%;
  border-radius: 0.25rem; 
}

.fokep, .galeria {
  padding: 10px;
}

.kiskep {
  border: 1px solid gray;
  border-radius: 0.5rem;
   padding: 5px;
}

.kiskep img {
  border-radius: 0.5rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.kiskep {
  flex: 1 1 calc(33.333% - 20px); 
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}


.appMain .kiemeltkepdiv {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}




@media (max-width: 780px) {
  .kiskep {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .kiskep {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
