@import 'bootstrap/dist/css/bootstrap.min.css';


.appMain img {
  width: 100%;
  border-radius: 0.25rem; 
}

.fokep, .galeria {
  padding: 10px;
}





.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}




.appMain {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}





